Notification {
    color: #d3d3d3;
    background: #404040;
    margin: 0px;
}

QLabel {
    color: #d3d3d3;
}

#closeButton {
    border: none;
    qproperty-icon: url(lxqt-notificationd/cancel.svg);
}

#closeButton:hover {
    background: #505050;
    qproperty-icon: url(lxqt-notificationd/cancel.svg);
}

#appLabel {
    font-weight: bold;
}
